<div class="page-header">
  <p >Banner and Postar Dessign Packs (Start with $139)</p>
</div>
<div class="package-for">
	<div class="package-for-text">
		<p class = "title">This packages are right for your if… </p>
		  <ul>
			<li>You need to design custom banner and postar for your business.</li>
			<li>You want to get the banner and postar quickly, easily – and affordable</li>
		  </ul>
	 
	</div>
	<div class = "package-for-image">
		<%= image_tag('graphics/banner_design.png', :height => 100, :width =>150) %>
	</div>
</div>

<div class="pack-desc-container", id = "pack-desc">
	<div class = "left-div">
		<div class = "title">
			General Package (Cost $139)
		</div>
		<div class="text-font">
		  <ul class = "pack-ul">
			<li class = "leaf">3 Banner and Postar designs</li>
			<li class = "leaf">1 Designers</li>
			<li class = "leaf">24 hour fast processing</li>
			<li class = "leaf">6 Revisions</li>
		  </ul>
		</div>
	</div>
	<div class = "middle-div">
		<div class = "title">
			Special Package (Cost $249)
		</div>
		<div class="text-font">
		  <ul class = "pack-ul">
			<li class = "leaf">5 Banner and Postar designs</li>
			<li class = "leaf">2 Designers</li>
			<li class = "leaf">48 hour fast processing</li>
			<li class = "leaf">10 Revisions</li>
		  </ul>
		</div>
	</div>
	<div class = "right-div">
		<div class = "title">
			Ultimate Package (Cost $379)
		</div>
		<div class="text-font">
		  <ul class = "pack-ul">
			<li class = "leaf">8 Banner and Postar designs</li>
			<li class = "leaf">3 Designers</li>
			<li class = "leaf">72 hour fast processing</li>
			<li class = "leaf">Unlimited Revisions</li>
		  </ul>
		</div>
	</div>
</div>
<div class = "let-us-know-title">
<p>Let us know your requirement-Its Free!</p>
</div>
<div class="requirement-form">
	<%= form_for :post do |f| %>
	  	<p>
	    	<%= f.label :name %>:<br>
	    	<%= f.text_field :name %>
	  	</p>
	  	<p>
	    	<%= f.label :phone %>:<br>
	    	<%= f.text_field :phone %>
	  	</p>
	  	<p>
			<%= f.label :email %>:<br>
			<%= f.text_field :eamil %>
	  	</p>
	  	<p>
			<%= f.label :requirements %>:<br>
			<%= f.text_area :requirements, :cols=>"100", :rows => "10" %>
		</p>
	 
	  	<div class="submit-button-holder">
		    <%= f.submit :"Submit Requirements", :class => "myButton"%>
		</div>	
	<% end %>
</div>




