<!DOCTYPE html>
<html>
<head>
  <title>LeanWebs</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
 
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body id="root">
   <div id="wrapper">
   <div  id = "header">
    
      <%= image_tag('logo.svg', :height => 70, :class => 'logo') %>
  
   
    <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, :id => "flash_#{name}" %>
    <% end %>

</div>
<div id="nav-bar">
  <ul id="menu">
      
      <li>
        <a href="#">About</a>
      </li>

      <li><a href="#">Portfolio</a></li>
      <li>
        <a href="#">How it works?</a>
        <ul>
          <li><%= link_to "Our Development Process",  :controller => "development_process" %></li>
        </ul>
      </li>
      <li>
        <a href="#">SEO</a>
        <ul>
          <li><a href="#">Services Overview</a></li>
          <li><a href="#">Keyword Research</a></li>
          <li><a href="#">Search Media Marketing(SEM)</a></li>
          <li><a href="#">Back Linking and Bookmarking</a></li>
          <li><a href="#">Tagging</a></li>
          <li><a href="#">Directory and Blog Submission</a></li>
        </ul>
      <li>
     <!-- <li>
        <a href="#">Sales and Marketing</a>
        <ul>
          <li><a href="#">Services Overview</a></li>
          <li><a href="#">Social Media Marketing (SMM)</a></li>
          <li><a href="#">Email Marketing</a></li>
          <li><a href="#">Sales and Lead Generation</a></li>
          <li><a href="#">Market Research and Surveys</a></li>
          <li><a href="#">Product Marketing and Uploading</a></li>
        </ul>
      <li>
     -->   
        <a href="#">Graphics design</a>
        <ul>
           <li><%= link_to "Graphics Design Packages Overview",  :controller => "graphics_design" %></a></li> 
          <li><a href="#">Logo Design Pack</a> <li>
          <li><a href="#">Business Card Design Pack</a></li>
          <li><a href="#">Banner and Poster Design Pack</a></li>
        </ul>
      </li>
      <li>
        <a href="#">WEB SOLUTIONS</a>
          <ul>
            <li><%= link_to "Web Packages Overview",  :controller => "web_pack_overview" %></a></li> 
            <li><%= link_to "Small Business Pack",  :controller => "small_business_pack" %></li>
            <li><%= link_to "Mid-Sized Company Pack",  :controller => "mid_sized_company_pack" %></li>
            <li><%= link_to "Growing Company Pack",  :controller => "growing_company_pack" %></li>
            <li><%= link_to "E-Commerce Pack",  :controller => "e_commerce_pack" %></li>
            
          </ul>
      </li>
      <li><%= link_to "Home",  :controller => "home" %></a></li> 
    </ul>
</div>
<div id="body">
    <%= yield %>
</div>


<footer>
      <div id= "footer">
        <div id = "footer_text">
          © 2013 LeanWeb Solution. All rights reserved.
       
      </div>
    </div>
<footer>



</body>

</html>
